certifi==2020.4.5.1
click==7.1.2
dnspython==1.16.0
Flask==1.1.2
Flask-Login==0.5.0
Flask-SocketIO==4.3.0
Flask-WTF==0.14.3
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==2.21.0
pymongo==3.10.1
python-dateutil==2.8.1
python-engineio==3.12.1
python-socketio==4.5.1
six==1.14.0
umongo==2.2.0
Werkzeug==1.0.1
wincertstore==0.2
WTForms==2.3.1
