body    {
    background-color: #F0F0F0;
}
#scoreBoard td,th {
    text-align: center;
    font-size: 14;
    color: #040496;

}
#chat   {
    height: 220px;
}
#hand  {
    align-content: center;
    img {
        @media (max-width: 700px) {
            width: 60px
        }
    }
}
.game   {
    background-color: #2471A3;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-bottom-color: black;
    border-right-color: darkgray;
    border-top-color: white;
    border-left-color: lightgray;
}
.card{
    display: inline-block;
    text-align: center;
    background-color: #11ffee00;
    margin:auto;
    width: 100px;
}
.full   {
    background-color: #34495E;
}

button{
    background-color: #2471A3;
}
