<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>TreSette</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
        <script id="waitlist" type="text/x-handlebars-template">
            <h3>Jugadores esperando:</h3>
            <ul>
            {% raw -%}
                {{#each players}}
                    <li>{{this}}</li>
                {{/each}}
            {%- endraw %}
            </ul>
        </script>
        <script id="full" type="text/x-handlebars-template">
            <h3>El juego está lleno</h3>
        </script>
        <script>
            const templateWait = Handlebars.compile(document.querySelector('#waitlist').innerHTML);
            const templateFull = Handlebars.compile(document.querySelector('#full').innerHTML);
            var players
            var player = 'none'
            function loadWaitlist(players) {
                const content = templateWait({'players':players});
                document.querySelector('#waitlist_place').innerHTML = content;
            };
            function Full() {
                document.querySelector('#login').hidden = true;
                const content = templateFull();
                document.querySelector('#waitlist_place').innerHTML = content;
            };
            function Free() {
                    document.querySelector('#login').hidden = false;
            };

            document.addEventListener('DOMContentLoaded', () => {                // Connect to websocket
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
                //Assign form to socket event to add player
                document.querySelector('#login_button').onclick = () => {
                        const new_player = document.querySelector('#new_player').value;
                        socket.emit('add_player', {'new_player': new_player});
                };
                document.querySelector('#logout_button').onclick = () => {
                        socket.emit('player_left', {'player': player});
                        player = undefined;
                        document.querySelector('#logout').hidden = true;
                };

                socket.on('players_update', data => {

                    if (player === 'none')   {
                        if (data.full===true)  {
                            Full();
                        } else {
                            Free();
                        };
                    };
                    players = data.players;
                    loadWaitlist(players);
                    console.log('players updated');
                });

                socket.on('name_taken', () => {
                    window.alert("El nombre ya está siendo usado")
                    console.log('name taken')
                });

                socket.on('welcome', data =>    {
                    document.querySelector('#login').hidden = true;
                    document.querySelector('#logout').hidden = false;
                    player = data.player;

                    console.log('welcome');
                });
            });
        </script>
    </head>
    <body>
        <div id="waitlist_place">

        </div>
        <form id="login">
            <label for="new_player">Nombre:</label>
            <input type="text" id="new_player" value="">
            <button type="button" id="login_button">Entrar</button>
        </form>
        <form id="logout" hidden='true'>
            <button type="button" id="logout_button">Salir</button>
        </form>
    </body>
</html>
