{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <!-- <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script> -->
    <script id="waitlist" type="text/x-handlebars-template">
    <h3>Jugadores:</h3>
    <div id="teamA">
        <h4>Equipo A:</h4>
        <ul>
        {% raw -%}
            {{#each teamAPlayers}}
                <li>{{this}}</li>
            {{/each}}
        {%- endraw %}
        </ul>
    </div>
    <div id="teamB">
        <h4>Equipo B:</h4>
        <ul>
        {% raw -%}
            {{#each teamBPlayers}}
                <li>{{this}}</li>
            {{/each}}
        {%- endraw %}
        </ul>
    </div>
   </script>
    <script id='gameFull' type="text/x-handlebars-template">
        <h3>El juego está lleno</h3>
    </script>
    <script id='game' type="text/x-handlebars-template">
        <h4 id="turn">
        </h4>
        <div id='hand'>
            <h3>Tu mano:</h3>
        </div>
        <div id='plays'>
            <h3>La mesa:</h3>
        </div>
    </script>
    <script id='gameOver' type="text/x-handlebars-template">
    {% raw -%}
        <h2>Terminose</h2>
        <h3>Ganaron {{player1}} y {{player2}}</h3>
        <h3>{{score1}} a {{score2}}</h3>
        <br><br><p>{{mensaje}}</p>
        <br><br><br>
    {%- endraw %}
        <a href="{{url_for('main')}}">Jugá de nuevo</a>
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}">
    </script>
{% endblock %}
{% block cuerpo%}
    <div id='body'>
    </div>
{% endblock %}
