{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/logo.png')}}">
    <script id="gamelist" type="text/x-handlebars-template">
        <div class="container-lg">
            <div class="row justify-content-center my-5">
                <div class="col-4">
                    <h3>Juegos Abiertos</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <h4>Zaguán</h4>
                    </div>
                    <div class="row" id="lobby">

                    </div>
                </div>
                <div id='games' class="col-6">
                </div>
                <div class="col-3">
                    <div class="container overflow-auto" id='chat'>
                    </div>
                    <div class="container m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Mandá:</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id='message'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg my-4">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Creá un juego:</span>
                        </div>
                        <select class="custom-select" id="gameTwo" width="7">
                            <option selected value='false'>4 jugadores</option>
                            <option value="true">2 jugadores</option>
                        </select>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id='gameName'>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="waitlist" type="text/x-handlebars-template">
        <div class="container-lg game m-4 p-4">
            <div class="row justify-content-start my-3">
                <div class="col-4">
                    <h3>Jugadores</h3>
                </div>
                <div class="col-2 ml-auto">
                    <button type="button" id='leaveGame'>Salir del juego</button>
                </div>
            </div>
            <div class="row justify-content-center my-3">
                <div id="teamA" class='col-4'>
                    <h4>Equipo A</h4>
                    {% raw -%}
                        {{#each teamA}}
                            <p><b>{{this}}</b></p>
                        {{/each}}
                    {%- endraw %}
                </div>

                <div id="teamB" class='col-4'>
                    <h4>Equipo B</h4>
                    {% raw -%}
                        {{#each teamB}}
                            <p><b>{{this}}</b></p>
                        {{/each}}
                    {%- endraw %}
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-2" id='teamOut'>
                </div>
            </div>
        </div>
   </script>
    <script id='game' type="text/x-handlebars-template">
        <div class="container-xl">
            {% raw -%}
            <div class="row my-4">
                <div class='col text-center game' id='hand'>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <table class='table table-borderless'>
                        <thead>
                            <tr>
                                <th class='text-center' scope="col">{{teamA.[0]}} {{teamA.[1]}}</th>
                                <th class='text-center' scope="col">{{teamB.[0]}} {{teamB.[1]}}</th>
                            </tr>
                        </thead>
                        <tbody id='scoreBoard'>
                            <tr class='table-info' id='scoreBoardTotal'>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6" id='centerCol'>
                    <div id="turn"></div>
                    <hr>
                    <div id='plays'>
                    </div>
                </div>
                <div class="col-3 vh-50">
                    <div class="container overflow-auto" id='chat'>
                    </div>
                    <div class="container m-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Mandá:</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id='message'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%- endraw %}
        </div>

    </script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}
{% block cuerpo%}
    <div id='body'>
    </div>
{% endblock %}
